*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.wrapper {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.accordian {
    display: flex;
    gap: 1rem;
    width: 50vw;
}

.accordian button[aria-expanded="true"] {
    flex-grow: 5000;
}

.accordian button:nth-child(1) {
    --_color: #3BCEAC
}

.accordian button:nth-child(2) {
    --_color: #0EAD69
}

.accordian button:nth-child(3){
    --_color: #EE4266
}


.accordian button {
    height: 40vh;
    border: 0;
    transition: flex-grow 500ms;
    padding: 1rem;
    background-color: transparent;
    outline: 4px solid var(--_color);
    border-radius: 30px;
}

.accordian-panel {
    height: calc(100% - 2rem);
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    position: relative;
}

.accordian-panel .accordian-header {
    display: none;
}

.accordian button[aria-expanded="true"] .accordian-header {
    display: inline-block;
} 

.accordian button[aria-expanded="true"] h4 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
} 

.accordian-heading {
    position: absolute;
    bottom: 1rem;
    left: .5rem;
}